<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>NetMarket</display-name>
	<listener>
		<listener-class>com.catgen.factories.MySqlDBPooling</listener-class>
	</listener>
	
	<servlet>
		<description>
		</description>
		<display-name>URLProcessor</display-name>
		<servlet-name>URLProcessor</servlet-name>
		<servlet-class>com.catgen.servlet.URLProcessor</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>URLProcessor</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
        <url-pattern>*.xml</url-pattern>
        <url-pattern>*.htm</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
		<url-pattern>*.swf</url-pattern>
        <url-pattern>*.ico</url-pattern>
		<url-pattern>*.png</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.zip</url-pattern>
	<!-- 
        <url-pattern>*.txt</url-pattern>
	 -->
	</servlet-mapping>
	<!-- 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	 -->
</web-app>